// -------------------- VARIABLES --------------------
$miranda-font: "Miranda Sans", sans-serif;
//---------- SCREEN SIZE VARIABLES ----------
$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;
$xxl: 1536px;

// ----------- MIXINS - MEDIA QUERIES ----------
@mixin sm-screen{
    @media only screen and (max-width:$sm){
        @content;
    }
}

@mixin md-screen{
     @media only screen and (min-width:calc($sm + 1px)) and (max-width: $md){
        @content;
    }
}

@mixin lg-screen{
     @media only screen and (min-width:calc($md + 1px))
     {
        @content;
    }
}

@mixin xl-screen{
     @media only screen and (min-width:calc($lg + 1px)) and (max-width: $xl){
        @content;
    }
}

@mixin xxl-screen{
     @media only screen and (min-width:calc($xl + 1px)) and (max-width: $xxl){
        @content;
    }
}

// ---------- MIXINS - RECURRING ----------
@mixin img-container-lg($width: 95%, $height: 50vh){
        display: flex;
        align-items: center;
        font-size: 15px;
        border-radius: 5px;
        width: $width;
        height: $height;
        margin: 0 auto;
        color: white;
        font-weight: bold;
        overflow: hidden;
}

@mixin format-image{
    min-width: 100%;
    object-fit: cover;
}

@mixin miranda-font($weight: 400){
    font-family: $miranda-font;
    font-optical-sizing: auto;
    font-weight: $weight;
    font-style: normal;
}

@mixin format-content-text($font-size: 1.5rem, $width: 90%, $margin-y: 10px, $text-align: center){
    margin: $margin-y auto;
    width: $width;
    text-align: $text-align;
    font-size: $font-size;
}

@mixin format-button{
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid black;
    border-radius: 4px;
    transition: background-color 0.1s ease-out;
    padding: 0; 
}

@mixin button-hover{
    background-color: rgba(255, 255, 255, 0.85);
    border: 1px solid rgb(133, 176, 233);
    cursor: pointer;
}

@mixin button-active{
    background-color: rgba(106, 88, 243, 0.5);
}

@mixin link-in-button{
    display: inline-block;
    text-align: center;
    text-decoration: none;
    color: inherit;
    padding: 10px;
}

@mixin link-in-button-hover{
    color: rgb(44, 62, 161);
}

@mixin anchor-reset{
    text-decoration: none;
    color: inherit;
}






