// ---------- MODULES ----------
@use "./mixins.scss";

// ---------- VARIABLES ----------
$card-bg: rgba(93, 179, 255, 0.1);
$btn-hover: rgba(193, 223, 249, 0.85);
$btn-active: rgba(106, 88, 243, 0.5);
$content-font-size: clamp(1rem, 3vw, 1.5rem);
$content-font-size-sm: 1.1rem;
// ---------- GLOBAL STYLES ----------
body{
    @include mixins.miranda-font;
    background-color: rgb(238, 255, 255);
}

h2{
    font-size: 2rem;
    margin-bottom: 35px;
}

h3{
    font-size: 1.8rem;
    margin-bottom: 10px;
}

// ---------- NAV STYLES ----------
.nav{
    display: none;
}

// ---------- HERO STYLES ----------
.hero{
    width: 100%;
    margin-bottom: 75px;

    &__greeting{
        @include mixins.format-content-text($content-font-size-sm, 75%, 25px, left);
    }

    &__intro{
        @include mixins.format-content-text(clamp(2rem, 15vw, 6.5rem), 75%, 0, left);
        // word-break: break-word;
        font-weight: 600;
        margin-top: 20px;
    }
}


// ---------- ABOUT ME SECTION STYLES ----------
.about-me{
    margin-bottom: 75px;

    &__title{
        text-align: center;
    }

    &__content{
        @include mixins.format-content-text($content-font-size, 95%, 35px, left);
    }

    &__img-container{
        @include mixins.img-container-lg(65%, 65vh);

        &__img{
            @include mixins.format-image;
        }
    }
}

// ---------- SKILLS STYLES ----------
.skills{
    text-align: center;

    &__intro{
        @include mixins.format-content-text($content-font-size, 95%, 35px, left);
    }

    &__logos-container{
        padding: 10px 5px;
        border-radius: 5px;

        &__row{
            display: flex;
            justify-content: space-around;
            align-items: center;

            &__img-and-label{

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                max-width: 25%;

                &__img{
                    max-width: 90%; 
                    transition: transform 0.2s ease-out;
                }

                &__img:hover{
                    transform: scale(1.25)
                }

                &__label{
                    font-weight: bold;
                    font-size: clamp(0.5rem, 3vw, 1.5rem);
                }
            }
        }
    }
}

// ---------- PROJECTS STYLES ----------
.projects{

    display: flex;
    flex-direction: column;
    align-items: center;

    &__card{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: left;
        background-color: $card-bg;
        margin-bottom: 15px;
        padding: 10px;
        border-radius: 5px;
        width: 90vw;

        &__img-container{
            @include mixins.img-container-lg;
            overflow: hidden;

            &__img{
                @include mixins.format-image;
            }
        }

        &__chronos{
                background-color: rgba(39, 9, 83, 0.85);
        }
        
        &__wallet-wizard{
                background-color: rgba(0, 0, 76, 0.85);
        }

        &__text-wrapper{
            width: 95%;

            &__tech-stack{
                margin-top: 5px;
                margin-bottom: 0;
                font-size: 1rem;
            }

            &__name{
                margin-top: 2px;
                margin-bottom: 15px;
            }

            &__description{
                @include mixins.format-content-text(1.3rem, 100%, 20px, left);
            }
        }

        &__btn-wrapper{
            display: flex;
            width: 95%;
            padding: 0 10px;

            &__btn{
                margin-right: 20px;
                padding: 8px 10px;
                background-color: rgba(255, 255, 255, 0.1);
                border: 1px solid black;
                border-radius: 4px;
                transition: background-color 0.1s ease-out; 

                &__link{
                    text-decoration: none;
                    color: black;
                }
            }

            &__btn:hover{
                background-color: $btn-hover;
            }

            &__btn:active{
                background-color: $btn-active;
            }
        }
    }
}

// ---------- FOOTER STYLES ----------
.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(0,0,0,0.9);
    padding: 10px 0;
    color: white;
    height: 15vh;
    margin-top: 20px;

    &__logos-container{
        display: flex;
        justify-content: space-around;
        width: 40%;

        &__logo-link, &__logo-link:hover, &__logo-link:visited, &__logo-link:active{
            text-decoration: none;
            color: inherit;
        }

        &__logo-link{
             &__logo-svg{
                transform: scale(1.5);
                transition: transform 0.2s ease-out;
                fill: azure !important;
            }

            &__logo-svg:hover{
                transform: scale(2.3);
            }
           
        }
    }

    &__email{
        margin: 0;
    }
}



