body {
  font-family: "Miranda Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background-color: rgb(238, 255, 255);
}

h2 {
  font-size: 2rem;
  margin-bottom: 35px;
}

h3 {
  font-size: 1.8rem;
  margin-bottom: 10px;
}

.nav {
  display: none;
}

.hero {
  width: 100%;
  margin-bottom: 75px;
}
.hero__greeting {
  margin: 25px auto;
  width: 75%;
  text-align: left;
  font-size: 1.1rem;
}
.hero__intro {
  margin: 0 auto;
  width: 75%;
  text-align: left;
  font-size: clamp(2rem, 15vw, 6.5rem);
  font-weight: 600;
  margin-top: 20px;
}

.about-me {
  margin-bottom: 75px;
}
.about-me__title {
  text-align: center;
}
.about-me__content {
  margin: 35px auto;
  width: 95%;
  text-align: left;
  font-size: clamp(1rem, 3vw, 1.5rem);
}
.about-me__img-container {
  display: flex;
  align-items: center;
  font-size: 15px;
  border-radius: 5px;
  width: 65%;
  height: 65vh;
  margin: 0 auto;
  color: white;
  font-weight: bold;
  overflow: hidden;
}
.about-me__img-container__img {
  max-width: 100%;
  object-fit: cover;
}

.skills {
  text-align: center;
}
.skills__intro {
  margin: 35px auto;
  width: 95%;
  text-align: left;
  font-size: clamp(1rem, 3vw, 1.5rem);
}
.skills__logos-container {
  padding: 10px 5px;
  border-radius: 5px;
}
.skills__logos-container__row {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.skills__logos-container__row__img-and-label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 25%;
}
.skills__logos-container__row__img-and-label__img {
  max-width: 90%;
  transition: transform 0.2s ease-out;
}
.skills__logos-container__row__img-and-label__img:hover {
  transform: scale(1.25);
}
.skills__logos-container__row__img-and-label__label {
  font-weight: bold;
  font-size: clamp(0.5rem, 3vw, 1.5rem);
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.projects__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  background-color: rgba(93, 179, 255, 0.1);
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 5px;
  width: 90vw;
}
.projects__card__img-container {
  display: flex;
  align-items: center;
  font-size: 15px;
  border-radius: 5px;
  width: 95%;
  height: 50vh;
  margin: 0 auto;
  color: white;
  font-weight: bold;
  overflow: hidden;
  overflow: hidden;
}
.projects__card__img-container__img {
  max-width: 100%;
  object-fit: cover;
}
.projects__card__chronos {
  background-color: rgba(39, 9, 83, 0.85);
}
.projects__card__wallet-wizard {
  background-color: rgba(0, 0, 76, 0.85);
}
.projects__card__text-wrapper {
  width: 95%;
}
.projects__card__text-wrapper__tech-stack {
  margin-top: 5px;
  margin-bottom: 0;
  font-size: 1rem;
}
.projects__card__text-wrapper__name {
  margin-top: 2px;
  margin-bottom: 15px;
}
.projects__card__text-wrapper__description {
  margin: 20px auto;
  width: 100%;
  text-align: left;
  font-size: 1.3rem;
}
.projects__card__btn-wrapper {
  display: flex;
  width: 95%;
  padding: 0 10px;
}
.projects__card__btn-wrapper__btn {
  margin-right: 20px;
  padding: 8px 10px;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid black;
  border-radius: 4px;
  transition: background-color 0.1s ease-out;
}
.projects__card__btn-wrapper__btn__link {
  text-decoration: none;
  color: black;
}
.projects__card__btn-wrapper__btn:hover {
  background-color: rgba(193, 223, 249, 0.85);
}
.projects__card__btn-wrapper__btn:active {
  background-color: rgba(106, 88, 243, 0.5);
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: rgba(0, 0, 0, 0.9);
  padding: 10px 0;
  color: white;
  height: 15vh;
  margin-top: 20px;
}
.footer__logos-container {
  display: flex;
  justify-content: space-around;
  width: 40%;
}
.footer__logos-container__logo-link, .footer__logos-container__logo-link:hover, .footer__logos-container__logo-link:visited, .footer__logos-container__logo-link:active {
  text-decoration: none;
  color: inherit;
}
.footer__logos-container__logo-link__logo-svg {
  transform: scale(1.5);
  transition: transform 0.2s ease-out;
  fill: azure !important;
}
.footer__logos-container__logo-link__logo-svg:hover {
  transform: scale(2.3);
}
.footer__email {
  margin: 0;
}
