html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  font-family: "Miranda Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background-color: rgb(238, 255, 255);
}

h2 {
  font-size: 2rem;
  margin-bottom: 35px;
}
@media only screen and (min-width: 769px) {
  h2 {
    font-size: 2.5rem;
  }
}

h3 {
  font-size: 1.7rem;
  margin-bottom: 10px;
}
@media only screen and (min-width: 769px) {
  h3 {
    font-size: clamp(1.7rem, 3vw, 2.3rem);
  }
}

.nav {
  display: none;
}
@media only screen and (min-width: 769px) {
  .nav {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    background-color: rgba(208, 237, 237, 0.95);
    border-radius: 5px;
    box-shadow: 0px 13px 22px 12px rgba(0, 0, 0, 0.05);
    position: sticky;
    top: 5px;
    z-index: 1000;
    width: 99%;
  }
  .nav__brand {
    margin-left: 50px;
    font-weight: 700;
    font-size: 1.3rem;
    color: rgb(44, 77, 108);
  }
  .nav__links-container {
    display: flex;
    justify-content: space-between;
    margin-right: 50px;
    align-items: center;
    width: 40%;
    font-weight: 500;
  }
  .nav__links-container__link {
    text-decoration: none;
    color: inherit;
    transition: transform 0.1s ease-out, color 0.25s ease-in;
  }
  .nav__links-container__link:hover {
    transform: scale(1.15);
    color: rgb(21, 74, 120);
  }
  .nav__links-container__btn {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid black;
    border-radius: 4px;
    transition: background-color 0.1s ease-out;
    padding: 0;
  }
  .nav__links-container__btn:hover {
    background-color: rgba(255, 255, 255, 0.85);
    border: 1px solid rgb(133, 176, 233);
    cursor: pointer;
  }
  .nav__links-container__btn:active {
    background-color: rgba(106, 88, 243, 0.5);
  }
  .nav__links-container__btn__link-in-btn {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    color: inherit;
    padding: 10px;
    text-decoration: none;
    color: inherit;
  }
  .nav__links-container__btn__link-in-btn:hover {
    color: rgb(44, 62, 161);
  }
}

.hero {
  max-width: 100%;
  margin-bottom: 100px;
}
.hero__greeting {
  margin: 25px auto;
  width: 75%;
  text-align: left;
  font-size: 1.1rem;
}
.hero__hero-contents {
  margin: 0 auto;
}
.hero__hero-contents__intro {
  margin: 0 auto;
  width: 75%;
  text-align: left;
  font-size: clamp(2rem, 15vw, 6.5rem);
  font-weight: 600;
  margin-top: 20px;
}
.hero__hero-contents__img-container {
  display: none;
}
@media only screen and (min-width: 769px) {
  .hero {
    padding: 10px;
    min-height: 60vh;
    margin-bottom: 200px;
  }
  .hero__greeting {
    width: 95%;
  }
  .hero__hero-contents {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 80%;
  }
  .hero__hero-contents__img-container {
    display: block;
    overflow: hidden;
    width: 45%;
    background-color: rgba(203, 4, 107, 0.05);
    margin-right: 20px;
    border-radius: 5px;
  }
  .hero__hero-contents__img-container__img {
    min-width: 100%;
    object-fit: cover;
  }
  .hero__hero-contents__intro {
    width: 45%;
    font-size: clamp(4.5rem, 8vw, 7rem);
    margin-left: 20px;
    margin-right: 0;
  }
}

.about-me {
  margin-bottom: 75px;
}
.about-me__title {
  text-align: center;
}
.about-me__contents-container__text-and-title__title-lg {
  display: none;
}
.about-me__contents-container__text-and-title__content {
  margin: 35px auto;
  width: 95%;
  text-align: left;
  font-size: clamp(1.3rem, 3vw, 1.5rem);
}
.about-me__contents-container__img-container {
  display: flex;
  align-items: center;
  font-size: 15px;
  border-radius: 5px;
  width: 65%;
  height: 50vh;
  margin: 0 auto;
  color: white;
  font-weight: bold;
  overflow: hidden;
}
.about-me__contents-container__img-container__img {
  min-width: 100%;
  object-fit: cover;
  border-radius: 5px;
  filter: saturate(35%) hue-rotate(159deg);
}
@media only screen and (min-width: 769px) {
  .about-me__title {
    display: none;
  }
  .about-me__contents-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
  }
  .about-me__contents-container__text-and-title {
    display: flex;
    flex-direction: column;
    width: 55%;
  }
  .about-me__contents-container__text-and-title__title-lg {
    display: block;
    margin-bottom: 5px;
  }
  .about-me__contents-container__text-and-title__content {
    font-size: clamp(1rem, 2.5vw, 1.3rem);
    width: 100%;
    margin-top: 5px;
  }
  .about-me__contents-container__img-container {
    width: 35%;
  }
  .about-me__contents-container__img-container__img {
    width: 90%;
  }
}

.skills {
  text-align: center;
}
.skills__intro {
  margin: 35px auto;
  width: 95%;
  text-align: left;
  font-size: clamp(1.3rem, 3vw, 1.5rem);
}
.skills__logos-container {
  padding: 10px 5px;
  border-radius: 5px;
}
.skills__logos-container__row {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.skills__logos-container__row__img-and-label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 25%;
}
.skills__logos-container__row__img-and-label__img {
  max-width: 90%;
  transition: transform 0.2s ease-out;
}
.skills__logos-container__row__img-and-label__img:hover {
  transform: scale(1.25);
}
.skills__logos-container__row__img-and-label__label {
  font-weight: bold;
  font-size: clamp(0.5rem, 3vw, 1.5rem);
}
@media only screen and (min-width: 769px) {
  .skills__logos-container {
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
  .skills__logos-container__row {
    max-width: 50%;
  }
  .skills__logos-container__row__img-and-label__label {
    font-size: clamp(0.5rem, 1.25vw, 1rem);
  }
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.projects__card-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.projects__card-container__card-row {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.projects__card-container__card-row__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  background-color: rgba(93, 179, 255, 0.1);
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 5px;
  width: 90%;
}
.projects__card-container__card-row__card__img-container {
  display: flex;
  align-items: center;
  font-size: 15px;
  border-radius: 5px;
  width: 95%;
  height: 50vh;
  margin: 0 auto;
  color: white;
  font-weight: bold;
  overflow: hidden;
  overflow: hidden;
}
.projects__card-container__card-row__card__img-container__img {
  min-width: 100%;
  object-fit: cover;
}
.projects__card-container__card-row__card__chronos {
  background-color: rgba(39, 9, 83, 0.85);
}
.projects__card-container__card-row__card__wallet-wizard {
  background-color: rgba(0, 0, 76, 0.85);
}
.projects__card-container__card-row__card__text-wrapper {
  width: 95%;
}
.projects__card-container__card-row__card__text-wrapper__tech-stack {
  margin-top: 5px;
  margin-bottom: 0;
  font-size: 1rem;
}
.projects__card-container__card-row__card__text-wrapper__name {
  margin-top: 2px;
  margin-bottom: 15px;
}
.projects__card-container__card-row__card__text-wrapper__description {
  margin: 20px auto;
  width: 100%;
  text-align: left;
  font-size: 1.3rem;
}
.projects__card-container__card-row__card__btn-wrapper {
  display: flex;
  width: 95%;
  padding: 0 10px;
}
.projects__card-container__card-row__card__btn-wrapper__btn {
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid black;
  border-radius: 4px;
  transition: background-color 0.1s ease-out;
  padding: 0;
  margin-right: 20px;
}
.projects__card-container__card-row__card__btn-wrapper__btn:hover {
  background-color: rgba(255, 255, 255, 0.85);
  border: 1px solid rgb(133, 176, 233);
  cursor: pointer;
}
.projects__card-container__card-row__card__btn-wrapper__btn:active {
  background-color: rgba(106, 88, 243, 0.5);
}
.projects__card-container__card-row__card__btn-wrapper__btn__link {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  color: inherit;
  padding: 10px;
}
.projects__card-container__card-row__card__btn-wrapper__btn__link:hover {
  color: rgb(44, 62, 161);
}
@media only screen and (min-width: 769px) {
  .projects__card-container {
    height: 80%;
    display: flex;
    flex-direction: column;
  }
  .projects__card-container__card-row {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 80%;
  }
  .projects__card-container__card-row__card {
    width: 45%;
    height: 40vw;
  }
  .projects__card-container__card-row__card__img-container {
    width: 95%;
    height: 30vw;
  }
  .projects__card-container__card-row__card__img-container__img {
    min-width: 100%;
  }
  .projects__card-container__card-row__card__text-wrapper__description {
    font-size: clamp(0.5rem, 1vw, 1.5rem);
  }
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: rgba(0, 0, 0, 0.9);
  padding: 10px 0;
  color: white;
  height: 15vh;
  margin-top: 20px;
}
.footer__logos-container {
  display: flex;
  justify-content: space-around;
  width: 40%;
}
.footer__logos-container__logo-link, .footer__logos-container__logo-link:hover, .footer__logos-container__logo-link:visited, .footer__logos-container__logo-link:active {
  text-decoration: none;
  color: inherit;
}
.footer__logos-container__logo-link__logo-svg {
  transform: scale(1.5);
  transition: transform 0.2s ease-out;
  fill: azure;
}
.footer__logos-container__logo-link__logo-svg:hover {
  transform: scale(2.3);
}
.footer__email {
  margin: 0;
}
