// ---------- MODULES ----------
@use "./mixins.scss";

// ---------- VARIABLES ----------
$card-bg: rgba(93, 179, 255, 0.1);
$btn-hover: rgba(255, 255, 255, 0.85);
$btn-active: rgba(106, 88, 243, 0.5);
$content-font-size: clamp(1.3rem, 3vw, 1.5rem);
$content-font-size-sm: 1.1rem;
// ---------- GLOBAL STYLES ----------

//styles to assess page layout

// *{
//     outline: 1px solid red !important;
// }

html{
    scroll-behavior: smooth;
    scroll-padding-top: 75px;
}

body{
    @include mixins.miranda-font;
    background-color: rgb(255, 254, 254);
}

h2{
    font-size: 2rem;
    margin-bottom: 35px;

    @include mixins.lg-screen{
        font-size: 2.5rem;
    }
}

h3{
    font-size: 1.7rem;
    margin-bottom: 10px;

    @include mixins.lg-screen{
        font-size: clamp(1.7rem, 3vw, 2.3rem);
    }
}

// ---------- NAV STYLES ----------
.nav{
    display: none;

    // ----- NAV - LARGE SCREENS -----
    @include mixins.lg-screen{
        display: flex;
        margin: 0 auto;
        justify-content: space-between;
        background-color: rgba(208, 237, 237, 0.95);
        border-radius: 5px;
        box-shadow: 0px 13px 22px 12px rgba(0,0,0,0.05);
        position: sticky;
        top: 5px;
        z-index: 1000;
        width: 99%;

        &__brand-container{
            display: grid;
            
            #navBrand #navBrandHover{
                grid-column: 1;
                grid-row: 1;
            }

            &__brand{
                margin-left: 50px;
                font-weight: 700;
                font-size: 1.3rem;
                color: rgb(44, 77, 108);
                width: 100%;
                transition: opacity 0.25s ease-out;
            }

            &__brand-hover{
                font-size: 0;
                margin-left: 50px;
                font-weight: 700;
                color: rgb(44, 77, 108);
                opacity: 0%;
                transition: opacity 0.25s ease-out;
                transition-delay: 0.1s;
                color: rgb(131, 60, 131);

                @include mixins.silkscreen-font(700);
            }

            

            &:hover{

                #navBrand{
                    font-size: 0;
                    opacity: 0%;
                }

                #navBrandHover{
                    font-size: 1.3rem;
                    opacity: 100%;
                }

                cursor: default;
            }    
        }

        &__links-container{
            display: flex;
            justify-content: space-between;
            margin-right: 50px;
            align-items: center;
            width: 40%;
            font-weight: 500;

            &__link{
                @include mixins.anchor-reset;
                transition: transform 0.1s ease-out, color 0.25s ease-in ;

                &:hover{
                    transform: scale(1.15);
                    color: rgb(21, 74, 120);
                }
            }



            &__btn{
                @include mixins.format-button;

                &:hover{
                    @include mixins.button-hover;
                }

                &:active{
                    @include mixins.button-active
                }

                &__link-in-btn{
                    @include mixins.link-in-button;
                    text-decoration: none;
                    color: inherit;

                    &:hover{
                        @include mixins.link-in-button-hover
                    }
                }
            }
        }
    }
}

// ---------- HERO STYLES ----------
.hero{
    max-width: 100%;
    margin-bottom: 100px;

    &__greeting{
        @include mixins.format-content-text($content-font-size-sm, 75%, 25px, left);
    }

    &__hero-contents{

        margin: 0 auto;
        &__intro{
            @include mixins.format-content-text(clamp(2rem, 15vw, 6.5rem), 75%, 0, left);
            font-weight: 600;
            margin-top: 20px;
        }

        &__img-container{
            display: none;
        }
    }
    
    // ----- HERO - LARGER SCREENS -----
    @include mixins.lg-screen{
        padding: 10px;
        min-height: 60vh;
        margin-bottom: 200px;

        &__greeting{
            width: 95%;
        }

        &__hero-contents{
            display: flex;
            justify-content: space-between;
            align-items: center;
            min-height: 80%;

            &__img-container{
            display: block;
            overflow: hidden;
            width: 45%;
            background-color: rgba(203, 4, 107, 0.05);
            margin-right: 20px;
            border-radius: 5px;

            &__img{
                @include mixins.format-image;
            }
            }   

            &__intro{
                width:45%;
                font-size: clamp(4.5rem, 8vw, 7rem);
                margin-left: 20px;
                margin-right: 0;
            }
        }
    }
}


// ---------- ABOUT ME SECTION STYLES ----------
.about-me{
    margin-bottom: 75px;

    &__title{
        text-align: center;
    }

    &__contents-container{

        &__text-and-title{
            &__title-lg{
                display:none;
            }

            &__content{
                @include mixins.format-content-text($content-font-size, 95%, 35px, left);
            }
        }
        
        &__img-container{
            @include mixins.img-container-lg($width: 65%);

            &__img{
                @include mixins.format-image;
                border-radius: 5px;
                // filter: saturate(110%) grayscale(50%);
            }
        }   
    }


    
    @include mixins.lg-screen{
        
        &__title{
            display: none;
        }

        &__contents-container{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 90%;
            

            &__text-and-title{
                display: flex;
                flex-direction: column;
                width: 55%;
                
                &__title-lg{
                    display: block;
                    margin-bottom: 5px;
                }
                
                &__content{
                font-size: clamp(1rem, 2.5vw, 1.3rem);
                width: 100%;
                margin-top: 5px;
                }
            }

            &__img-container{
                width: 35%;

                &__img{
                    width: 90%;
                }
            }
        }
    }
}

// ---------- SKILLS STYLES ----------
.skills{
    text-align: center;

    &__intro{
        @include mixins.format-content-text($content-font-size, 95%, 35px, center);
    }

    &__logos-container{
        padding: 10px 5px;
        border-radius: 5px;

        &__row{
            display: flex;
            justify-content: space-around;
            align-items: center;

            &__img-and-label{

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                max-width: 25%;

                &__img{
                    max-width: 90%; 
                    transition: transform 0.2s ease-out;
                }

                &__img:hover{
                    transform: scale(1.25)
                }

                &__label{
                    font-weight: bold;
                    font-size: clamp(0.5rem, 3vw, 1.5rem);
                }
            }
        }
    }

    @include mixins.lg-screen{

        &__intro{
            width: 60%;
            font-size: clamp(1rem, 2.5vw, 1.2rem);
        }

        &__logos-container{
            width: 50%;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;

            &__row{
                max-width: 50%;

                &__img-and-label__label{
                    font-size: clamp(0.5rem, 1.25vw, 1rem);
                }
            }
            
        }
    }
}

// ---------- PROJECTS STYLES ----------
.projects{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__card-container{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        &__card-row{
            width: 90%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            
            &__card{
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: left;
                background-color: $card-bg;
                margin-bottom: 15px;
                padding: 10px;
                border-radius: 5px;
                width: 90%;

                &__img-container{
                    @include mixins.img-container-lg;
                    overflow: hidden;

                    &__img{
                        @include mixins.format-image;
                    }
                }

                &__chronos{
                        background-color: rgba(39, 9, 83, 0.85);
                }
                
                &__wallet-wizard{
                        background-color: rgba(0, 0, 76, 0.85);
                }

                &__text-wrapper{
                    width: 95%;

                    &__tech-stack{
                        margin-top: 5px;
                        margin-bottom: 0;
                        font-size: 1rem;
                    }

                    &__name{
                        margin-top: 2px;
                        margin-bottom: 15px;
                    }

                    &__description{
                        @include mixins.format-content-text(1.3rem, 100%, 20px, left);
                    }
                }

                &__btn-wrapper{
                    display: flex;
                    width: 95%;
                    padding: 0 10px;

                    &__btn{
                        @include mixins.format-button;
                        margin-right: 20px;
                        transition: background-color 0.2s ease-out;

                        &:hover{
                            @include mixins.button-hover;
                        }

                        &:active{
                            @include mixins.button-active;
                        }


                        &__link{
                            @include mixins.link-in-button;
                            
                            &:hover{
                                @include mixins.link-in-button-hover;
                            }
                        }
                    }
                }
            }
        }
    }   

    // ----- PROJECTS - LARGE SCREEN STYLES -----

    @include mixins.lg-screen{
        
        &__card-container{
            height: 80%;
            display: flex;
            flex-direction: column;
            
            &__card-row{
                
                flex-direction: row;
                justify-content: space-around;
                align-items: center;
                width: 80%;
                
                &__card{
                width: 45%;
                height: 40vw;

                    &__img-container{
                        width: 95%;
                        height: 30vw;

                        &__img{
                            min-width: 100%;
                        }
                    }

                    &__text-wrapper{
                        
                        &__description{
                            font-size: clamp(0.5rem, 1vw, 1.5rem);
                        }
                    }
                }
            }
        }
    }
}

// ---------- FOOTER STYLES ----------
.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(0,0,0,0.9);
    padding: 10px 0;
    color: white;
    height: 15vh;
    margin-top: 20px;

    &__logos-container{
        display: flex;
        justify-content: space-around;
        width: 40%;

        &__logo-link, &__logo-link:hover, &__logo-link:visited, &__logo-link:active{
            text-decoration: none;
            color: inherit;
        }

        &__logo-link{
             &__logo-svg{
                transform: scale(1.5);
                transition: transform 0.2s ease-out;
                fill: azure;
            }

            &__logo-svg:hover{
                transform: scale(2.3);
            }
        }
    }

    &__email{
        margin: 0;
    }

    @include mixins.lg-screen{
        flex-direction: row-reverse;
        justify-content: space-between;

        &__logos-container{
            max-width: 20%;
            margin-right: 25px;
        }

        &__email{
            margin-left: 25px;
        }
    }
}



